{% comment %}

  This is an example section leveraging sub-directory
  structures within sections. This file will export
  with the directory name prefixed to it as per our
  configuration in the syncify.config.ts file, e.g:

  The output will be:

  themes/sections/example-testing.liquid

  You can mark all files in this directory as pass-through
  globs by passing the directory name to the views > sections > globs
  option in the syncify.config.ts file.


{% endcomment %}


<h1>
  Hello World!
</h1>
<p>
  This is a sub-directory section example.
</p>
